@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  /* padding: 20px;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

p, label {
  margin: 0;
  font-size: var(--text-sm);
  line-height: 1.35;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: #F9F4DA;
  font-size: --text-3xl;
  margin-bottom: 0px;
}

section {
  margin-block: 12.5px;
}
}

@theme {
  --font-display: "Oswald", sans-serif;
  --text-tiny: 0.625rem; 
  --text-sm: 0.875rem; 
  --text-base: 1rem; 
  --text-lg: 1.125rem; 
  --text-xl: 1.25rem; 
  --text-2xl: 1.5rem; 
  --text-3xl: 1.875rem; 
  --text-4xl: 2.25rem; 
  --text-5xl: 3rem; 
  --text-6xl: 3.75rem; 
  --text-7xl: 4.5rem; 
  --text-8xl: 6rem; 
  --text-9xl: 8rem; 
}

@layer components {
  section.bubble-map {
  height: 90vh;
  width: 100vw;
}
}

html, body, #root {
  width:100%; 
  height:100%;
}