@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  /* padding: 20px;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: #F9F4DA;
  font-size: 1.5rem;
  margin-bottom: 0px;
}

section {
  margin-block: 12.5px;
}
}

@layer components {
  section.bubble-map {
  height: 90vh;
  width: 100vw;
}
}

html, body, #root {
  width:100%; 
  height:100%;
}